".source.julia":
  "Documented function":
    prefix: "functiond"
    body: '''
"""
    ${1:name}(${2:args})

${3:documentation}
"""
function ${1:name}(${2:args})
\t${4:body}
end
    '''
  "function":
    prefix: "function"
    body: '''
function ${1:name}(${2:args})
\t${3:body}
end
    '''
  'Else if':
    prefix: 'elseif'
    body: """
elseif ${1:condition}
\t$2
    """
  'Else if2':
    prefix: 'elif'
    body: """
elseif ${1:condition}
\t$2
    """
  "for":
    prefix: "for"
    body: '''
for ${1:variable}
\t$2
end
    '''
  "for/in":
    prefix: "forin"
    body: '''
for ${1:variable} in ${2:iterator}
\t$3
end
    '''
  "return":
      prefix: 'return'
      body: 'return $1'
  "if":
    prefix: "if"
    body: '''
if ${1:condition}
\t${2:body}
end
    '''
  "if/else":
    prefix: "ife"
    body: '''
if ${1:condition}
\t${2:true_body}
else
\t${3:false_body}
end
    '''
  "macro":
    prefix: "macro"
    body: '''
macro ${1:name}(${2:args})
\t${3:body}
end
    '''
  "try/catch":
    prefix: "try"
    body: '''
try
\t${1:try_block}
catch $2
\t$3
end
    '''
  "try/finally":
    prefix: "tryf"
    body: '''
try
\t$1
finally
\t$2
end
    '''
  "try/catch/finally":
    prefix: "trycf"
    body: '''
try
\t${1:try_block}
catch $2
\t$3
finally
\t$4
end
    '''
  "struct":
    prefix: "struct"
    body: '''
struct ${1:name}
\t${2:fields}
end
    '''
  "mutable struct":
    prefix: "mutable"
    body: '''
mutable struct ${1:name}
\t${2:fields}
end
    '''
  "abstract type":
    prefix: "abstract"
    body: 'abstract type ${1:name} end'
  "primtitive type":
    prefix: "primitive"
    body: 'primitive type ${1:name} ${2:bits} end'
  "while":
    prefix: "while"
    body: '''
while ${1:condition}
\t${2:body}
end
    '''
  'begin block':
    prefix: 'begin'
    body: """
begin
\t$1
end
    """
  'let block':
    prefix: 'let'
    body: """
let
\t$1
end
    """
  'do block':
    prefix: 'do'
    body: """
do ${1:args}
\t$2
end
    """

  "Documented function with end function indicator":
    prefix: "functiond#"
    body: '''
"""
    ${1:name}(${2:args})

${3:documentation}
"""
function ${1:name}(${2:args})
\t${4:body}
end # function
    '''
  "function with end function indicator":
    prefix: "function#"
    body: '''
function ${1:name}(${2:args})
\t${3:body}
end # function
    '''
  "for with end for indicator":
    prefix: "for#"
    body: '''
for ${1:variable}
\t$2
end # for
    '''
  "for/in with end for indicator":
    prefix: "forin#"
    body: '''
for ${1:variable} in ${2:iterator}
\t$3
end # for
    '''
  "if with end if indicator":
    prefix: "if#"
    body: '''
if ${1:condition}
\t${2:body}
end # if
    '''
  "if/else with end if indicator":
    prefix: "ife#"
    body: '''
if ${1:condition}
\t${2:true_body}
else
\t${3:false_body}
end # if
    '''
  "macro with end macro indicator":
    prefix: "macro#"
    body: '''
macro ${1:name}(${2:args})
\t${3:body}
end # macro
    '''
  "try/catch with end try indicator":
    prefix: "try#"
    body: '''
try
\t${1:try_block}
catch $2
\t$3
end # try
    '''
  "try/finally with end try indicator":
    prefix: "tryf#"
    body: '''
try
\t$1
finally
\t$2
end # try
    '''
  "try/catch/finally with end try indicator":
    prefix: "trycf#"
    body: '''
try
\t${1:try_block}
catch $2
\t$3
finally
\t$4
end # try
    '''
  "struct with end struct indicator":
    prefix: "struct#"
    body: '''
struct ${1:name}
\t${2:fields}
end # struct
    '''
  "mutable struct with end mutable struct indicator":
    prefix: "mutable#"
    body: '''
mutable struct ${1:name}
\t${2:fields}
end # mutable struct
    '''
  "while with end while indicator":
    prefix: "while#"
    body: '''
while ${1:condition}
\t${2:body}
end # while
    '''
  'begin block with end begin indicator':
    prefix: 'begin#'
    body: """
begin
\t$1
end # begin
    """
  'let block with end let indicator':
    prefix: 'let#'
    body: """
let
\t$1
end # let
    """
  'do block with end do indicator':
    prefix: 'do#'
    body: """
do ${1:args}
\t$2
end # do
    """
