scopeName: 'source.julia.console'
name: 'Julia Console'
comment: 'Not sure what this will be used for... Maybe if we have a REPL someday. We do now...'
patterns: [
  {
    begin: '^(julia>)'
    beginCaptures:
      '1':
        name: 'entity.name.tag.prompt.julia.console'
    end: '^(?!\\s{7})'
    patterns: [
      {
        include: 'source.julia'
      }
    ]
  }
  {
    match: '^(shell>) (.+)$'
    captures:
      '1':
        name: 'punctuation.separator.prompt.shell.julia.console'
      '2':
        patterns: [
          {
            include: 'source.shell'
          }
        ]
  }
  {
    match: '^(help\\?>) (.+)$'
    captures:
      '1':
        name: 'punctuation.separator.prompt.help.julia.console'
      '2':
        patterns: [
          {
            include: 'source.julia'
          }
        ]
  }
]