scopeName: 'text.julia.console'
name: 'Julia Console'
comment: "Not sure what this will be used for... Maybe if we have a REPL someday"
patterns: [
  {
    match: '^(julia>|\\.{3}|In \\[\\d+\\]:) (.+)$'
    captures:
      '1':
        name: 'punctuation.separator.prompt.julia.console'
      '2':
        patterns: [
          include: 'source.julia'
        ]
  }
  {
    match: '^(shell>) (.+)$'
    captures:
      '1':
        name: 'punctuation.separator.prompt.shell.julia.console'
      '2':
        patterns: [
          include: 'source.shell'
        ]
  }
  {
    match: '^(help\\?>) (.+)$'
    captures:
      '1':
        name: 'punctuation.separator.prompt.help.julia.console'
      '2':
        patterns: [
          include: 'source.julia'
        ]
  }
]
